APP_NAME="Nganjie Nzatsi"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://nganjie.example.com
SITE_ADDRESS=nganjie.example.com

APP_LOCALE=fr
APP_FALLBACK_LOCALE=fr
APP_TIMEZONE=Africa/Douala

LOG_CHANNEL=stack
LOG_STACK=daily
LOG_LEVEL=warning

DB_CONNECTION=pgsql
DB_DATABASE=portfolio
DB_USERNAME=portfolio
DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=true
SESSION_SECURE_COOKIE=true

FILESYSTEM_DISK=public
QUEUE_CONNECTION=database
CACHE_STORE=database

MAIL_MAILER=smtp
MAIL_HOST=
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM_ADDRESS="no-reply@nganjie.example.com"
MAIL_FROM_NAME="${APP_NAME}"

ADMIN_EMAIL=nganjienzatsi@gmail.com
ADMIN_PASSWORD=
